@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-color: black;
        margin-top: 50px; /*move the top of the page's body down 50 px*/
    }
    .btn-primary {
    border-color: #f0a240 !important;
    color: #fff;
    background-color: #f0a240 !important;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
    }
   
</style>

    
        <div class="container">
           
            <div>
                <h1 style="color: orange" align=center size="500%"  >Jay Car App</h1>
                <center><p style="color: white">The car app that allows you to search a database of more than 60,000 cars! 
                    <br>
                        Click on the orange button below and be linked to our database. You'll have access to various search fields, so you can find your dream car today! </p></center> 
                <center><img src="/Uploads/jaycarapp-image.jpg" /></center>
                <center><a href="@Url.Action("Index", "Cars")" class="btn btn-primary btn-xl page-scroll">Try It!</a></center>
            </div>

  
               
  
            </div>
     


    
   
